.wp-block-custom-blocks-accordion .block-list-appender {
	position: relative;
}

.wp-block-custom-blocks-accordion {
	.wp-block-custom-blocks-accordion-item {
		.accordion-header-wrap {
			margin: 0;

			.accordion-trigger {
				font-size: inherit;
				font-weight: inherit;
				font-family: inherit;
				width: 100%;
				border: none;
			}
			.accordion-trigger:focus {
				outline: none;
			}
		}
		.accordion-content {
			max-height: revert;
		}
	}
}

.media-lib-selector {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 24px;
}

.accordion-icons {
	.open-icon,
	.close-icon {
		display: flex;
		flex-wrap: wrap;

		h4 {
			width: 100%;
		}

		button {
			margin: 0 8px 8px 0;

			span {
				width: 24px;
				height: 24px;

				svg {
					fill: none;
				}
			}
		}
	}
}
