.wp-block-custom-blocks-accordion .block-list-appender {
	position: relative;
}

.wp-block-custom-blocks-accordion {
	.wp-block-custom-blocks-accordion-item {
		.accordion-header-wrap {
			margin: 0;

			.accordion-trigger {
				font-size: inherit;
				font-weight: inherit;
				font-family: inherit;
				width: 100%;
				border: none;

				.heading {
					cursor: auto;
				}

				.accordion-icon-wrap {
					width: auto;
					height: auto;

					.open-icon,
					.close-icon {
						display: block;
					}
				}
			}
			.accordion-trigger:focus {
				outline: none;
			}
		}
		.accordion-content {
			max-height: revert;
		}
	}
}

// Sidebar Media selector
.media-lib-selector {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 24px;

	button {
		justify-content: center;
	}
}

// Side bar icons
.accordion-icons {
	.open-icon,
	.close-icon {
		button {
			span {
				width: 24px;
				height: 24px;

				svg {
					> path {
						fill: var(--accordion-icon-fill-color, #000000);
					}
					> path[stroke] {
						fill: none;
						stroke: var(--accordion-icon-stroke-color, #000000);
					}
				}
			}
		}
	}
}
