.wp-block-custom-blocks-accordion .block-list-appender {
	position: relative;
}

.wp-block-custom-blocks-accordion {
	.wp-block-custom-blocks-accordion-item {
		.accordion-header-wrap {
			margin: 0;

			.accordion-trigger {
				width: 100%;
				border: none;

				.heading {
					cursor: auto;
				}

				.accordion-icon-wrap {
					display: flex;
					width: auto;
					height: auto;

					.open-icon,
					.close-icon {
						display: flex;
					}
				}
			}
			.accordion-trigger:focus {
				outline: none;
			}
		}
		.accordion-content {
			max-height: revert;
		}
	}
}

// Sidebar Media selector
.media-lib-selector {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 24px;

	button {
		justify-content: center;
	}
}

.components-base-control {
	margin-bottom: 0 !important;
}

// Side bar icons
.icons-selector {
	button {
		padding: 8px;

		.selected-icon {
			width: 24px;
			height: 24px;

			svg {
				> path {
					fill: #000000;
				}
				> path[stroke] {
					fill: none;
					stroke: #000000;
				}
				> circle[stroke] {
					fill: none;
					stroke: #000000;
				}
			}
		}
	}
}

.components-popover__content {
	padding: 16px;

	.components-flex {
		width: 305px;

		.span-svg {
			width: 24px;
			height: 24px;

			svg {
				> path {
					fill: #000000;
				}
				> path[stroke] {
					fill: none;
					stroke: #000000;
				}
				> circle[stroke] {
					fill: none;
					stroke: #000000;
				}
			}
		}
	}
}
